.bars-container{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bars {
    width: 50.4px;
    height: 50.4px;
    --c: linear-gradient(rgb(55 65 81)0 0);
    background: var(--c), var(--c), var(--c);
    background-repeat: no-repeat;
    animation: bars-4tzcsomd 1s infinite,
           bars-d0g8gh 1s infinite;
 }
 
 @keyframes bars-4tzcsomd {
    0%, 100% {
       background-size: 10.1px 100%;
    }
 
    33%, 66% {
       background-size: 10.1px 10.1px;
    }
 }
 
 @keyframes bars-d0g8gh {
    0%, 33% {
       background-position: 0    0,50% 50%,100% 100%;
    }
 
    66%, 100% {
       background-position: 100% 0,50% 50%,0    100%;
    }
 }